html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

.container {
  width: 100vw;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  width: 95px;
  height: 100vh;
  z-index: 999;
}
.nav .logo {
  background-color: #BC3B68;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .logo img {
  width: 35px;
}
.nav .nav-list .nav-link {
  width: 95px;
  height: 95px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f8f8f8;
}
.nav .nav-list .nav-link:hover .title-popular {
  color: #BC3B68;
}
.nav .nav-list .nav-link:hover .title-toprated {
  color: #BC3B68;
}
.nav .nav-list .nav-link:hover .title-nowplaying {
  color: #BC3B68;
}
.nav .nav-list .nav-link:hover .title-upcoming {
  color: #BC3B68;
}
.nav .nav-list .nav-link .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav .nav-list .nav-link .image-container img {
  width: 26px;
  height: 26px;
  fill: #BC3B68;
}
.nav .nav-list .nav-link .image-container span {
  font-size: 9px;
  margin-top: 10px;
  color: #BC3B68;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.search {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 75px;
  margin-left: 95px;
}
.search .image-container {
  position: relative;
  height: 100%;
  background-color: #ffffff;
}
.search .image-container .search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 20px;
}
.search .image-container input {
  border: none;
  padding: 28px 30px 28px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  width: 75%;
  color: #c7c7c7;
}
.search .image-container input:hover {
  color: #BC3B68;
}

.main {
  padding: 75px 0 0;
  margin-left: 95px;
  height: 100vh;
}
.main .home {
  height: inherit;
}
.main .home .main-header {
  height: 384px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/batman.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main .home h1 {
  font-size: 26px;
  letter-spacing: 0.5px;
  font-weight: 500;
  z-index: 999;
  color: #BC3B68;
}

.movies-container {
  background-color: #ffffff;
  height: 100vh;
}
.movies-container .movies {
  padding: 35px;
}
.movies-container .movies .movies-header {
  overflow: hidden;
  line-height: 35px;
}
.movies-container .movies .movies-header h2 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 300;
  float: left;
  color: #BC3B68;
}
.movies-container .movies .movies-header .view-all {
  font-size: 12px;
  font-weight: 300;
  float: right;
  line-height: 50px;
  text-decoration: none;
  color: #BC3B68;
}
.movies-container .movies .movies-header .view-all:hover {
  color: #BC3B68;
}

/*# sourceMappingURL=styles.css.map */
