@import "_variables.scss";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: $font;
	vertical-align: baseline;
}

.container {
    width: 100vw;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    width: 95px;
    height: 100vh;
    z-index: 999;

    .logo {
        background-color: $ada-pink;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 35px;
        }
    }

    .nav-list {
            .nav-link {
                width: 95px;
                height: 95px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #f8f8f8;

                &:hover .title-popular {
                    color: $ada-pink;
                }

                &:hover .title-toprated {
                    color: $ada-pink;
                }

                &:hover .title-nowplaying {
                    color: $ada-pink;
                }

                &:hover .title-upcoming {
                    color: $ada-pink;
                }

                .image-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 26px;
                        height: 26px;
                        fill: $ada-pink;
                    }

                    span {
                        font-size: 9px;
                        margin-top: 10px;
                        color: $ada-pink;
                        font-weight: lighter;
                        letter-spacing: .5px;
                    }
                }
            }
        }
}

// HEADER

.search {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 75px;
    margin-left: 95px;

    .image-container {
        position: relative;
        height: 100%;
        background-color: $white;

        .search-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 20px;
        }
    
        input {
            border: none;
            padding: 28px 30px 28px 60px;
            font-family: $font;
            font-size: 16px;
            font-weight: lighter;
            width: 75%;
            color: $grey;
    
            &:hover {
                color: $ada-pink;;
            }
        }
    }
}

// HOME

.main {
    padding: 75px 0 0;
    margin-left: 95px;
    height: 100vh;

    .home {
        height: inherit;

        .main-header {
            height: 384px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('../images/batman.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        h1 {
            font-size: 26px;
            letter-spacing: 0.5px;
            font-weight: 500;
            z-index: 999;
            color: $ada-pink;
        }
    }
}

// MOVIES
.movies-container {
    background-color: $white;
    height: 100vh;

    .movies {
        padding: 35px;

        .movies-header {
            overflow: hidden;
            line-height: 35px;

            h2 {
                font-size: 18px;
                margin: 10px 0;
                font-weight: 300;
                float: left;
                color: $ada-pink;
            }

            .view-all {
                font-size: 12px;
                font-weight: 300;
                float: right;
                line-height: 50px;
                text-decoration: none;
                color: $ada-pink;

                &:hover {
                    color: $ada-pink;
                }
            }
        }
    }
}